NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=resumes
GROQ_API_KEY=
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_COUNTRY=in
THE_MUSE_API_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
JSEARCH_API_KEY=
MANTIKS_API_KEY=
CVPARSERPRO_API_KEY=
APYHUB_API_KEY=
